body{
  background-image: url("background.jpg");
  background-size: cover;
  font-size: 40px;
}

#in1{
    color: rgb(0,0,158);
    width:150px;
    height:40px;
    border:1px solid black;
    background-color:rgb(126,126,126);
    box-shadow: 3px 3px 3px 3px;
    display:inline-block;
    margin-right:8px;
}

.in{
  color: rgb(0,0,158);
  width:160px;
  height:40px;
  border:1px solid black;
  background-color:rgb(126,126,126);
  box-shadow: 3px 3px 3px 3px;
  display:inline-block;
  margin-right:8px;
}

section{
    font-family: verdana;
    color: white;
    text-align: center;
    font-size: 15px;
    height: 100px;
    width: 1000px;
    margin-top: 10px;
    margin-left: 170px;
}

article{
    background: rgba(80, 80, 80, 0.5);
    color: white;
    padding: 8px;
    margin-left:10px;
    border-bottom-left-radius:20px;
    border-bottom-right-radius:20px;
    font-size: 28px;
    height: 300px;
    width: 1000px;
    font-family: verdana;
}

#second{
  background: rgba(255, 255, 255, 0.0);
  margin-top:10px;
  margin-bottom: 10px;
  height: 50px;
  font-size: 50px;
}

header{
  padding: 8px;
  font-family: verdana;
  background: rgba(80, 80, 80, 0.5);
  color: white;
  font-size: 80px;
  margin-left:10px;
  margin-bottom:5px;
  height: 140px;
  width: 1000px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  text-align: center;
}

.TextWrap{
  float:left;
  margin-left: 15px;
  margin-right: 10px;
  margin-top: 10px;
}

.TextWrap1{
  float:right;
  margin: 10px;
}

.nav{
  text-shadow: 1px 2px 1px black;
  letter-spacing:1px;
  text-align:center;
  width:90%;
}

a{
  padding:8px 12px;
  display:block;
  color:rgb(0,0,158);
  text-decoration:none;
}

li:hover{
  font-size:10px;
}
