body{
  background-color: white;
  font-size: 40px;
}

section{
    color: black;
    text-align: center;
    font-size: 50px;
    margin-left:350px;
    margin-bottom: 5px;
    height: 60px;
    width: 600px;
}

article{
    background-color: blue;
    color: white;
    margin-left:150px;
    border-bottom-left-radius:20px;
    border-bottom-right-radius:20px;
    font-size: 25px;
    height: 500px;
    width: 1000px;
}

header{
  background-color: blue;
  color: white;
  font-size: 80px;
  font-style: italic;
  margin-left:150px;
  margin-bottom: 10px;
  height: 90px;
  width: 1000px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  text-align: center;
}
