body{
  background-image: url("black-and-white-rain.jpg");
  font-size: 40px;
}

section{
    font-family: verdana;
    color: black;
    text-align: center;
    font-size: 50px;
    margin-left:350px;
    margin-bottom: 5px;
    height: 60px;
    width: 600px;
}

article{
    background-color: rgba(0, 0, 0, 0.5);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    margin-left:150px;
    border-bottom-left-radius:20px;
    border-bottom-right-radius:20px;
    font-size: 28px;
    height: 600px;
    width: 1000px;
    font-family: verdana;
}

header{
  font-family: verdana;
  background-color: rgba(0, 0, 0, 0.5);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 80px;
  margin-left:150px;
  margin-bottom: 10px;
  height: 90px;
  width: 1000px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  text-align: center;
}

.TextWrap{
  float:left;
  margin-left: 15px;
  margin-right: 10px;
  margin-top: 10px;
}

.TextWrap1{
  float:right;
  margin: 10px;
}
